<h1>Profile Edit</h1>

     <h2>Welcome, <%= profileToEdit.username %>!</h2>
      <p>This is your profile page my friend!</p>
        <button> <a href="./profile">Reload the page</a> </button>
        <form id="userForm" action="/profile/profile-edited" method="POST">
            <label for="name">Name: <%= profileToEdit.name %></label>
            <input type="text" name="name">
            
            <label for="surname">Surname: <%= profileToEdit.surname %></label>
            <input type="text" name="name">
            
            <label for="username">Username: <%= profileToEdit.username %></label>
            <input type="text" name="username">
            
            <label for="country">Country: <%= profileToEdit.country %></label>
            <input type="text"  name="country">
            
            <label for="email">Email: <%= profileToEdit.email %></label>
            <input type="email" name="email">
            
            <label for="password">Password:</label>
            <input type="password" name="password">
            
            <button type="submit">Edit profile</button>
        </form>