<h1>Profile Page</h1>

<h2>Welcome, <%= user.username %>!</h2>
  <p>This is your profile page my friend!</p>
    <button> <a href="./profile">Reload the page</a> </button>
    <p>Name: <%=user.name%></p>
    <p>Surname: <%=user.surname%></p>
    <p>User name: <%=user.username%></p>
    <p>Country: <%=user.country%></p>
    <p>Email: <%=user.email%></p>

    <form action="/profile/edit-profile" method="POST">
      <button type="submit">Edit Profile</button>
    </form>

<p>Festivals you have added</p>

<ul>
<% allFestivals.forEach(festival => { %>
   <li>
        <h3><%-festival.name%></h3>
        <a href="/festival/edit-festival/<%-festival._id%>">Edit Festival</a>
    </li>
    <% }) %>
</ul>