<div class="jumbotron1 profile-container">
  <div>
    <h1>Account settings</h1>
    <p>Name: <%=user.name%></p>
    <p>Surname: <%=user.surname%></p>
    <p>User name: <%=user.username%></p>
    <p>Email: <%=user.email%></p>
    <a href="/profile/edit-profile"><button>Edit profile</button></a>
  </div>
  <div>
    <h1>Your festivals</h1>
    <a href="../festival/add-festival"><button> Submit a festival</button></a> 
    <ul>
      <% allFestivals.forEach(festival => { %>
        <li style="list-style-type: none;">
          <h4><%-festival.name%></h4>
          <a href="/festival/edit-festival/<%-festival._id%>"><button>Edit </button></a>
          <a href="/festival/delete-festival/<%-festival._id%>"><button>Delete</button></a>
        </li>
        <% }) %>
      </ul>
  </div>
</div>