<div class="jumbotron">

  <div class="container">
    <p>Filter by:</p>
  </div>
  <div class="container">
    <p>TECHNO</p>
    <ul>
    <% technoFestivals.forEach(festival => { %>
      <li>
            <h3><%-festival.name%></h3>
            <img src=<%-festival.imageUrl%> alt="Artwork">
        </li>
        <% }) %>
    </ul>
  <div class="container">
    <p>HOUSE</p>
    <ul>
    <% houseFestivals.forEach(festival => { %>
      <li>
            <h3><%-festival.name%></h3>
            <img src=<%-festival.imageUrl%> alt="Artwork">
        </li>
        <% }) %>
    </ul>
  </div>
  <div class="container">
    <p>TRANCE</p>
    <ul>
    <% tranceFestivals.forEach(festival => { %>
      <li>
            <h3><%-festival.name%></h3>
            <img src=<%-festival.imageUrl%> alt="Artwork">
        </li>
        <% }) %>
    </ul>
  </div>
</div>