<div class="jumbotron">
  <div class="container">
    <h1>Edit festival Page</h1>
    <form action="/festival/edit-festival/<%-festivalToEdit._id%>" method="POST" enctype="multipart/form-data">
      <label for="name">Festival Name:</label>
      <input type="text" name="name" value="<%= festivalToEdit.name %>">
      
      <label for="venue">venue:</label>
      <input type="text" name="venue" value="<%= festivalToEdit.venue %>">
      
      <label for="textInfo">textInfo:</label>
      <input type="text" name="textInfo" value="<%= festivalToEdit.textInfo %>">
      
      <label for="genre">Genre: <%= festivalToEdit.genre %> </label>
      <select multiple name="genre">
        <option value="">--Select new genre--</option>
          <option value="House">House</option>
          <option value="Techno">Techno</option>
          <option value="Trance">Trance</option>
      </select>
      
      <label for="date">date:</label>
      <input type="date" name="date" value="<%= festivalToEdit.date %>">
      </br>
      <label for="imageUrl">imageUrl:</label>
      <img src="<%= festivalToEdit.imageUrl %>" alt="artwork"/>
      <input type="file" name="imageUrl">

      <label for="socialMedia">Social Media:</label>
      <input type="text" name="socialMedia" value="<%= festivalToEdit.socialMedia %>">
      
      <button type="submit">Submit</button>
      </form>
  </div>
</div>
      
  <% if (typeof errorMessage !== 'undefined') { %> <%= errorMessage %> <% } %>
  