<div>
    <div class="container">
        <h1><%=oneFestival.name%></h1>
        <p>Venue: <%=oneFestival.venue%></p>
        <p>Genre: <%=oneFestival.genre%></p>
        <p>Date: <%=oneFestival.date%></p>
        <p>About: <%=oneFestival.textInfo%></p>
        <img src=<%=oneFestival.imageUrl%> alt="Artwork">
        <p>Social Media: <%=oneFestival.socialMedia%></p>

    </div>
</div>